import SwiftUI

struct ContentView: View {
    var body: some View {

        }
        
        
 VStack/*header */{
     ZStack{
        Text("panier").fontWeight(.bold)}
        HStack{
            Image(systemName:"chevron.left.2").padding();Text("retour")
        Spacer()
            Text("validé");Image(systemName:"chevron.right.2").padding()
    }
 }// .padding(-8.0)
//Spacer()


VStack
/*product list's*/
{
    HStack{
                       
                    List
                               {
                    HStack{ Image(systemName:"cloud");{VStack{  Text("Clouds");Text("X")}}
                    HStack{ Image(systemName:"cloud.rain");VStack{ Text("Storm")}}
                    HStack{ Image(systemName:"moon");VStack{ Text("Moon")}}
                    HStack{ Image(systemName: "snow");VStack{Text("Snow")}}
                    HStack{ Image(systemName: "tornado");VStack{ Text("Tornado")}}

                           }
                   }

        }
    }
}
struct ContentView_Previews: PreviewProvider {
    static var previews: some View {
        ContentView()
    }
}
